*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

body, button{
    font-family:'Nunito' ,sans-serif;
}
section{
    height:100vh;
}
h1{
    font-weight:800px;
    font-size:30px;
    line-height:41px;
    color:#000000;
    margin-bottom:86px;
}
h2{
    font-weight:400px;
    font-size:64px;
    line-height:87px;
    color:#000000;
    margin:36px 0;
}
h2 span{
    color:#737373;
}
.text{
    font-weight:400px;
    font-size:30px;
    line-height:41px;
    margin-bottom:26px;
}
.content{
    padding:64px 0 112px 115px;
    display: inline-block;
    width:50%;    
}
.msg-box{
    font-weight:400px;
    font-size:36px;
    line-height:49px;
    padding: 14px 42px;
    color:#FFFFFF;
    background:linear-gradient(90deg, #4568DC 0%, #B06AB3 100%);
    display:inline-block;
    border-radius:50px 50px 50px 0;
}
.content div{
    margin:36px 0 50px 0;
}
.content img{
    margin-right:12px
}
.crappo-img{
    max-width:384px;
    height:270px;
}
.raghul-img{
    vertical-align: top;
    height:100%;
}
@media screen  and (max-width:1200px){
    .content{
        padding:62px 0 36px 64px;
    }
    h1{
        margin-bottom:40px;
    }
    h2{
        margin:14px 0;
        font-size:38px;
        line-height:52px;
    }
    h2 img{
        width:30px;
        height:30px;
    }
    .text{
        font-size:16px;
        margin-bottom:16px;
    }
    .msg-box{
        padding:10px 30px;
        font-size:22px;
        line-height:30px;
    }
    .content div{
        margin:22px 0 20px 0;
    }
    .crappo-img{
        max-width:262px;
        height:160px;
    }
    
    

}